* {
  box-sizing: border-box;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
  
}

html{
  --background: #f0bdfa;
  --primary: #440088;
  --black: #2e2e2e;
  --white: #f2f2f2;
}

.darkmode{

}

body {
  font-family: "Mclaren", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  padding: 1rem;
  background-color: var(--background);
}

.topnav {
  overflow: hidden;
  background-color: var(--primary);
  border-radius: 1rem;
}
.topnav a, .searchbtn {
  float: left;
  display: block;
  padding: 1rem;
  margin-top: auto; margin-bottom: auto;
  color: var(--white);
  text-align: center;
  text-decoration: none;
}
.topnav a:hover {
  border-bottom: 0.16rem dashed var(--white);
  margin-top:0.14rem;
  padding: 0.7rem 1rem 0.7rem;
  color: var(--white);
}

.topnav a{
  margin-right:1rem;
}
.topnav .navbtn{font-size: 1.5rem; margin:0.8rem 1.2rem auto 0rem;}

.topnav i{
  border-radius: 50%;
  margin-right:1rem;
  cursor:pointer;
}
.topnav .icon {
  display: none;
  float:inline-start;
}

.topnav img{
  width:2rem;
  height:auto;
  float:right;
  margin: 0rem 0.7rem 0rem 0rem;
  background-color: var(--white);
}

.searchbtn:hover{
  cursor:pointer;
  transform: rotate(0deg);
  transition:0.6s;
}

.mySlides {display: none}
.slider_img {
  vertical-align: middle;
  width:100%;
  max-height: 35vw;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slider_text {
  color: var(--white);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--white);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}
.activedot{
  background-color: var(--primary);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */

@media screen and (max-width: 520px){
  .modal-content{min-width: 300px;}
  h2{font-size: 1.2rem;}
  label{font-size: 0.9rem;}
  .accesorio img{min-height:80vw;}
  .topnav .navbtn{font-size: 0.6rem; padding: 0.5rem;margin:0.3rem 0rem auto 0rem;}
  .topnav a{padding: 0.6rem 0.3rem;font-size: 2.5vw;}
  .searchbtn{font-size: 0.6rem;padding:0.75rem 0.4rem 0.8rem 0.6rem}
  .topnav a:hover {
    border: 0.1rem dashed var(--white);
    padding: 0.45rem 0.4rem;
    color: var(--white);
  }
  .topnav a.icon {
    float: right;
    display: block;
    border-radius:1rem;
    padding-left:auto;
    margin-right:0rem;
  }
  .topnav a.icon:hover {
    float: right;
    display: block;
    margin-right:0rem;
  }
  .slideshow-container {max-width: 500px;height: auto;}
  .prev, .next,.text {font-size: 11px;}
  .dot{width: 0.5rem; height: 0.5rem;}
  .column {min-width: 100%;}
  .sidenav ul li a {font-size: 0.3rem;}
  .slider_img{max-height: 33vw;}
}
@media screen and (min-width: 521px) and (max-width: 700px) {
  .modal-content{min-width: 350px;}
  h2{font-size: 1.6rem;}
  label{font-size: 1.1rem;}
  .accesorio img{min-height:40vw;}
  .topnav .navbtn{font-size: 0.9rem; margin:0rem;margin: 1.1rem 0.4rem 0rem 0rem;}
  .topnav a{font-size: 2.2vw;margin:1.1rem 0.7rem 0rem;padding: 0rem;}
  .searchbtn{font-size: 0.9rem;margin:1.1rem 0.8rem;padding:0rem;}
  .topnav a:hover {
    border: 0.1rem dashed var(--white);
    color: var(--white);
    margin-top: 0.19rem;
    padding: 0.8rem;
  }
  .topnav a.icon {
    float: right;
    display: block;
    border-radius:1rem;
    padding-left:auto;
    margin-right:0rem;
  }
  .topnav a.icon:hover {
    float: right;
    display: block;
    margin-right:0rem;
  }
  .prev, .next,.text {font-size: 11px;}
  .dot{width: 0.5rem; height: 0.5rem;}
  .sidenav {width: 90%;}
  .column {min-width: 50%;}
  .sidenav ul li a {font-size: 0.6rem;}
  .slider_img{max-height: 33.5vw;}
}

@media screen and (min-width: 701px) and (max-width: 1000px){
  .modal-content{min-width: 400px;}
  h2{font-size: 1.9rem;}
  label{font-size: 1.4rem;}
  .accesorio img{max-height:25vw;}
  .topnav .navbtn{font-size: 1.5rem; margin:0rem;margin: 0.8rem 1rem 0rem 0rem;}
  .topnav a{font-size: 2.2vw;margin:0.9rem 0.7rem 0rem;padding: 0rem;}
  .searchbtn{font-size: 1rem;margin:1.1rem 1rem;padding:0rem;}
  .topnav a:hover {
    border: 0.1rem dashed var(--white);
    color: var(--white);
    padding: 0.7rem;
  }
  .column {min-width: 33.33%;}
  slideshow-container,.dot{display: none;}
  .prev, .next,.text {font-size: 11px;}
  .dot{width: 0.5rem; height: 0.5rem;}
  .sidenav ul li a {font-size: 0.8rem;}
  .slider_img{max-height: 34vw;}
}

.searchbtn{
  cursor:pointer;
}
.searchbtn:hover{
  cursor:pointer;
  animation: lens 2.5s;
  animation-iteration-count: infinite;
}
@keyframes lens {
 20% { transform: rotate(-90deg);font-size: 0.9rem;}
 40% { transform: rotate(35deg);font-size: 1.2rem;}
 100% { transform: rotate(0deg) }
}

.navbtn{
  float:right;
  font-size: 1.5rem;
  margin-top:auto; margin-bottom: auto;
  color:var(--white);
}
.navbtn{
  float:right;
  font-size: 2rem;
  margin:0.5rem;
  color:var(--white);
}
.navbtn:hover,.navbtn:hover{
  color:#bbb;
}

.sideinput {
  margin-bottom: 1rem;
  font-size: 0rem;
  border: none;
  width: 0px;
  background-color:transparent;
  font-family: "Mclaren", sans-serif;
  color: #b940f1;
}
.buscar input {
  height: 50%;
  font-size: 1rem;
  outline: none;
  border-radius: 3rem;
  transition: all 0.6s ease;
  color:#ccc;
  padding-left: 1rem;
  width: 70%;
}
.navbtn {
  width: 1.8rem;
  height: 1.8rem;
  background: var(--primary);
  text-align: center;
  color: var(--white);
  font-size:small;
  border-radius: 50%;
  cursor: pointer;
}

.accesorio img{
  width: 100%;
  height: 20vw;
  border-radius: 1rem;
}
.btn{
  background: var(--primary);
  text-align: center;
  color: var(--white);
  cursor: pointer;

}


.sidenav {
  font-family: "Mclaren", sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: var(--white);
  overflow-x: hidden;
  padding-top: 0.4rem;
  font-size: 28px; /* Increased text to enable scrolling */
}

.sidenav ul li a{
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--black);
  transition:0.3s;
  display: block;
  background-color: var(--white);
}
.active{
  background-color: var(--background);;
  color:var(--primary);
}

.sidenav ul li a:hover {
  background-color: var(--primary);
  color:var(--white);
}

.myCategoryList{
  display:flex;
  justify-content: center;
}
.myCategoryList li a {
  padding: 0.5rem 1rem;
  border: var(--background) solid 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--black);
  transition:0.3s;
  float:left;
  background-color: var(--white);
  margin:0;
}
.cat-active{
  border-radius: 1rem;
  background-color: var(--primary);
  color:var(--white);
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.myCategoryList li a:hover {
  transition: 0.5s;
  border-radius: 1rem;
  background-color: var(--primary);
  color:var(--white);
}

.closebtn {
  position: absolute;
  text-decoration: none;
  font-size: 2.3rem;
  color: #821bb1;
  margin-left: 1rem;
  right: 1rem;
}
.closebtn:hover{
  color:red;
}

.main {
  max-width: 95%;
  margin: auto;
}

hr{
  height: 4px;
  background-color: var(--primary);
}

h1 {
  font-size: 60px;
  word-break: break-all;
}
h2{
  font-size: 2rem;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color:var(--primary);
  font-weight:bold;
}
label{
  font-size: 1rem;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.accesorio{
  background-color: var(--black);
  color:var(--white);
  padding: 10px;
  border-radius: 1rem;
}
.accesorio:hover{
  background-color: #821bb1;
  color:var(--white);
  border-radius: 1rem;
  cursor:pointer;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
center{
  color:var(--primary);
  margin:1rem;
  font-size: 4vw;
  font-weight: 600;
}

.addbtn{
  position: relative;
  font-size:2rem;
  margin-top:11rem;
  margin-left:11rem;
  bottom: 1rem;
  background-color:var(--primary);
  color:var(--white);
  border-radius:50%;
  padding:0.5rem 0.6rem;
}
.addbtn:hover {
  animation: spin 2.5s;
  animation-iteration-count: infinite;
  position: relative; 
  font-size:2rem;
  background-color:var(--primary);
  color:var(--white);
  border-radius:50%;
  padding:0.5rem 0.6rem;
}

@keyframes spin {
   0% { transform: rotate(15deg);font-size: 2rem;}
  10% { transform: rotate(45deg);font-size: 2.2rem;}
  30% { transform: rotate(180deg);font-size: 2rem;}
  50% { transform: rotate(-15deg)}
  60% { transform: rotate(8deg) }
  90% { transform: rotate(0deg)}
}

.legend__item i {
  display: inline-block;
  width: 55px;
  height: 45px;
  font-family: Syncopate, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.3;
  color: #e2dccc;
  border: 6px solid #04110f;
  border-width: 0 6px;
}


/*DIEGO*/


.addcontainer {
  padding: 15px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto 10% auto;
  width: 40%; /* Could be more or less, depending on screen size */
  height: auto;
  border-radius: 1rem;
}
.add-top{
  float:initial;
  height: 7vh;
  width: 100%;
  background-color: var(--primary);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.modal-content2 {
  background-color: #1e1e1e;
  margin: 3% auto 5% auto;
  width: 50%; /* Could be more or less, depending on screen size */
  height: auto;
  border-radius: 1rem;
}
.visual{
  margin-left: auto;
  margin-right: auto;
}
.visual .principal{
  width: 28vw;
  height: 25vw;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.visual .second{
  position: absolute;
  margin-left: -0.3vw;
  width: 18vw;
  height: 13vw;
  border-top-right-radius: 1rem;
}
.visual .third{
  position:relative;
  margin-left: -0.3vw;
  width: 18vw;
  height: 13vw;
  border-bottom-right-radius: 1rem;
}

.desctitle{
  color:var(--white);
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-top: -2rem;
}
.desctext{
  color:var(--white);
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul.card-action-buttons {
  margin: -2.5vw 1vw 0 0;
  text-align: right;
}
ul.card-action-buttons li {
  display: inline-block;
  border-radius: 50%;
  width: 2.5vw;
  height: 2.5vw;
  background-color:#821bb1;
  text-align: center;
}
ul.card-action-buttons li:hover {
  background-color:#e22c87;
}
ul.card-action-buttons li i {
  font-size: 1.4vw;
  color:var(--white);
  margin-top: 0.65vw;
}

.chips .chip {
  display: inline-block;
  border-radius: 2rem;
  width: auto;
  height: auto;
  padding: 0.4rem;
  background-color:#821bb1;
  text-align: center;
  margin-top: 1rem;
}
.chip{
  color:var(--white);
  text-decoration: none;
}

.share,.fav,.car{
  cursor:pointer;
}


.login,.signin{
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
  border-radius:1rem;
  font-size: 0.8rem;
}

.signin:focus,.login:focus {
  background-color: #ddd;
  outline: none;
  font-size: 1rem;
}

/* Set a style for the submit button */
.btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  font-size: 1rem;
  margin-top: 0.4rem;
  font-family: "Mclaren", sans-serif;
}

.btn:hover {
  opacity: 1;
}

.accountcontainer {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 40%;
  padding: 16px;
  background-color: var(--background);
  border-radius: 1rem;
}
.accountcontainer label{
  margin-left:0;
  color:var(--primary);
}

.flip-box {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 10000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
}

.flip-box-back {
  transform: rotateY(180deg);
}

.question{
  color:#3578f5;
  font-size: 0.8rem;
  margin-top: 5px;
  cursor: pointer;
}
.question:hover{
  text-decoration: underline;
}

.bg-img {
  /* The image used */
  background-image: url("loginbg.jpg");

  min-height: 400px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* The Close Button (x) */
.close {
  position:static;
  float: right;
  top: 0;
  color: var(--white);
  font-size: 3rem;
  font-weight:5px;
  text-decoration:none;
  margin: -0.5rem 1rem;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.addinput {
  margin-left: 5px;
  width: 95%;
  background-color:transparent;
  font-family: "Mclaren", sans-serif;
  border-radius: 0.2rem;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


.bowContainer{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
}

.modalBow::backdrop{
  background-color: hsla(276, 91%, 13%, 0.453);
}

.bg-accent{
  padding: 3px;
  background-color: orange;
  border-radius: 10px;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found h2{
  max-width: 10em;
  border: solid 1px gray;
}

.bow{
  max-height: 21.5rem;
}